@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:wght@400;600&display=swap');


html,
body {
  background-color: #fff;
  color: #323339;
  font-family: 'lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2, h3 {
  font-family: "Lora";
  font-weight: 600;
  margin: 0;
}

.slick-slider .slick-list, .slick-slider .slick-track, .slick-initialized .slick-slide {
  display: flex;
}

.slick-initialized .slick-slide {
  margin-right: 1.5rem;
}

.slick-initialized .slick-slide:last-child {
  margin-right: 0;
}

.slick-dots li, .slick-dots li button {
  width: 1rem;
  height: 1rem;
}

.slick-dots li {
  margin: 0 8px;
}

.slick-dots li button {
  border: 1px solid #2f5b88;
  border-radius: 50%;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background-color: #2F5B88;
}

.slick-dots {
  bottom: calc(-1.5rem - 29px);
}

.slick-list {
  overflow: visible;
}

@media (max-width: 960px) {
  .slick-list {
    padding: 0 !important;
  }
}

@media (max-width:550px) {
  .slick-initialized .slick-slide {
    margin-right: 1rem;
  }

  .slick-initialized .slick-slide:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 961px) {
  .slick-initialized .slick-slide {
    width: calc((100% / 3) - (1.5rem * 2 / 3)) !important;
  }
}
